/* add styles here */

@import url(http://fonts.googleapis.com/css?family=Inconsolata);

*{
  margin:0;padding:0;
}
body {
  font:1em "Inconsolata", sans-serif;
  line-height: 1.3;
  margin:0;
  background-color: black;
}


#entry {
  margin-bottom:20px;
  padding:20px 0;
}

#entry form{
  width:90%;
  margin:0 auto;
}
#entry input{
  width:100%;
}

#content {
  width:100%;
}

#items *{
  text-align: justify;
  padding:20px 10px;margin:0;
  word-wrap: break-word;
  cursor:pointer;
}